<div class="card-product">
  <% if clinic.photo.attached? %>
    <%= cl_image_tag clinic.photo.key, height: 500, crop: :fill %>
  <% end %>
  <div class="card-product-infos">
    <h2><%= link_to clinic.name, clinic_path(clinic) %></h2>
    <div class='d-flex'>
      <p><%= clinic.description %></p>
      <div class="stars d-flex">
      <% if clinic.reviews.any? %>
        <% clinic.average_rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - clinic.average_rating).times do %>
        <i class="far fa-star"></i>
        <% end %>
      <% end %>
      </div>

    </div>
  </div>
</div>

<%# <div>
<img id="map" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.346,48.8595,11.72,0,0/600x1000?access_token=pk.eyJ1IjoieWFubmx1Y2tsZWluIiwiYSI6ImNqd3VvZmh0eDAwZzk0YWxjYmx1bmFpaDcifQ.R6oqb2VcNqMXhDf3S1Pb3A">
</div> %>
