<div class="card-product" id="<%=clinic.id%>">
  <% if clinic.photo.attached? %>
    <%= cl_image_tag clinic.photo.key, height: 500, crop: :fill %>
  <% end %>
  <div class="card-product-infos">
    <h2><%= link_to clinic.name, clinic_path(clinic) %></h2>
      <div class="stars d-flex">
        <% if clinic.reviews.any? %>
          <% clinic.average_rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - clinic.average_rating).times do %>
          <i class="far fa-star"></i>
          <% end %>
        <% end %>
      </div>

    <div class='d-flex'>
      <p><%= clinic.description %></p>
      
    </div>
  </div>
</div>

