<!--Made this html as a testing, please erase when creating the view for this action -->
<div class="container">
  <h2><%=@clinic.name%></h2>
  <p><em><%=@clinic.location%></em></p>
  <p><%=@clinic.description%></p>
</div>