<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://miro.medium.com/max/1600/1*oProN7G8buF2Hkg7c1LYMQ.jpeg); background-position: top;">
  <div class="container">
    <h1>Find a clinic in your native language</strong>!</h1>
    <p>Search over 1,000 clinics that offer services in English and more languages</p>
    <nav class="navbar ">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Shibuya ward, Tokyo" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
  </div>
</div>
<div class="three-cards d-flex">
  <div class="card">
    <h2>Card1</h2>
  </div>
  <div class="card">
    <h2>Card2</h2>
  </div>
  <div class="card">
    <h2>Card3</h2>
  </div>
</div>
