<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://miro.medium.com/max/1600/1*oProN7G8buF2Hkg7c1LYMQ.jpeg); background-position: top;">
  <div class="container">
    <h1>Find a clinic in your native language</strong>!</h1>
    <p>Search over 1,000 clinics that offer services in English and more languages</p>
    <%= form_tag clinics_path, method: :get do %>
      <div class="d-flex">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "keyword"
        %>
        <p class="px-3">in</p>

        <%= text_field_tag :location,
        params[:location],
        class: "form-control",
        placeholder: "Location"
        %>
      </div>
      <%= submit_tag "Search", class: "btn btn-primary" %>

    <% end %>
    </div>
</div>
<div class="three-cards d-flex">
  <div class="card-home">
    <div class="card-title">
      <p class = "title">Inclusive</p>
    </div>
    <i class="fas fa-peace sym"></i>
    <p><b>Support in over 10 languages</b></p>
    <p><em>¿Español?</em> No problema!, find a doctor that speaks your native language</p>
  </div>
  <div class="card-home">
    <div class="card-title">
      <p class = "title">Inclusive</p>
    </div>
    <i class="fas fa-peace sym"></i>
    <p><b>Support in over 10 languages</b></p>
    <p><em>¿Español?</em> No problema!, find a doctor that speaks your native language</p>
  </div>
  <div class="card-home">
    <div class="card-title">
      <p class = "title">Inclusive</p>
    </div>
    <i class="fas fa-peace sym"></i>
    <p><b>Support in over 10 languages</b></p>
    <p><em>¿Español?</em> No problema!, find a doctor that speaks your native language</p>
  </div>
</div>
