@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #007EA7;
  font-family: 'Righteous', cursive;
  height: 45px;
  padding-inline: 16px;

  p {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.drop-down-z {
  z-index: 9000;
}
